@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,200..800&display=swap');
body{
    margin: 0px;
    padding:0px;
    font-family: Bricolage Grotesque;
}

.navigation img{
    width:70px;
    height: 70px;

}



.navigation{
    display: flex;
    flex-wrap: wrap;
    align-items: centre;
    justify-content: space-between;
    background-color:white;
}

.nav-bar{
    display: flex;
    flex-wrap: wrap;
    gap: 35px;
    margin-right: 40px;
    align-items: center; 
    
}

#nav-logo{
    display: flex;
    margin-bottom: -12px;
    
}

#nav_name{
    color: #0D1E3A;
    padding-left: 10px;
}

#nav-apply{
    background-color: #0D1E3A;
    border-radius: 7px;
    padding: 5px 25px;
    color: white;
    font-weight: bold;

    
}

.nav-bar>a{
    color: #0D1E3A;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
}


.school-intro{
    display: flex;
    flex-wrap: wrap;
    align-items: centre;
    background-color: #0D1E3A;
    height: 325px;


}

#school-introduction{
    color: white;
    width:50%;

}

#school-introduction h2{
    margin: 0px;
    font-size:clamp(32px, 5vw, 50px);;
    padding-top: 3px;
    padding-left: 17px;
}
#school-introduction p{
    margin: 0px;
    padding:0px 17px ;
    font-size: clamp(16px, 2vw, 20px);
}
.apply{
    display: flex; 
    
    flex-wrap: wrap;
    

}
.apply>a{
    text-decoration: none;
    
}

#school-apply{
    margin: 25px 35px 40px;  
    background-color:#5de458;
    border-radius: 7px;
    padding: 9px 25px;
    color: white;
    font-weight: bold;
}

#school-learn-about{
    border-radius: 7px;
    color: white;
    font-weight: bold;
    padding:6px 15px;
    border: 1px solid white;
    margin-top: 25px;
    margin-bottom: 45px;

}

.school-intro>img{
    object-fit: cover;

    width: 50%;
    height: 325px;
}

.intro-cards{
    display: flex;
    
    
    

}

.intro-card{
    background-color:#fff;
    border-radius: 10px;
    border: 1px solid #0D1E3A;
    margin: 20px 0px 10px 20px;
    gap: 5px;
    padding: 5px 25px;
    display: flex;
    

}
.intro-card img,.achievement img{
    width:70px;
    height: 70px;
    
    padding-top: 20px;
    padding-bottom:0px ;
}

.intro-card h3{
    color:#0D1E3A;
    margin-top: 0px;

}
.intro-card p{
    color: #0D1E3A;
}

.intro-card a{
    color: #27F5A9;
    
}





.school-container{
    display: flex;
    flex-wrap: wrap;
    
}


.principal{
    display: flex;
    border: 1px solid #0D1E3A;
    width: 45%;
    border-radius: 10px;
}

.principal-image-header{
    display: flex;
    flex-direction: column;

}

.principal-image-header h3{
    color: #0D1E3A;
    text-decoration: underline;
    
    margin-left: 30px;
}

.principal img{
    width:220px;
    height: 250px;
    border: 1px solid #0D1E3A;
    border-radius: 10px;
    margin: 3px 10px;
}

.message{
    margin-top: 65px;
    margin-left: 5px;
    line-height: 1.5;
    border-left: 2px solid #0D1E3A;
    border-radius: 12px;
}
.achievements {
    
    border: 1px solid  #0D1E3A;
    margin-left: 20px;
    border-radius: 10px;
    width: 50%;

}

.cards{
    display: flex;
    justify-content: centre;
    align-items: center;
    text-align: center;
    gap: 20px;
    margin-left: 10px;
    flex-wrap: wrap;

}

.achievement{
    border: 2px solid #0D1E3A;
    border-radius: 10px;
    padding: 3px 20px;
     
}

.achievement h3{
    font-size: 30px;
    text-align: center;
    color:rgb(171, 7, 7);
}

.achievements>h3{
    text-align: center;
    
}

.school-information{
    display: flex;
    color: #fff;
    background-color: #0D1E3A;
    gap: 15px;
    
}

#about-us{
    margin-left:12px;

}
.information-items{
    margin-top: 10px;
    border-radius: 10px;
    border: 1px solid white;
    width: 30%;
    margin-bottom:10px;


}
.information-items h3 {
    text-align: center;
}

.information-items p {
    text-align: center;

}

#newsletter{
    margin-right: 10px;
}


#submit-button{
    color: #0D1E3A;
    background-color: #5de458;
    padding:5px 17px;
    border-radius: 10px;
    margin-left: 10px;
}
input[name="email-holder"]:placeholder-shown {
  border: 2px solid #cbd5e1;
  background-color: #f8fafc;
  padding: 4px;
  border-radius: 6px;
  margin-left:10px;
}
#submit-button:hover {
  background-color: #1d4ed8;
}





footer{
    color: white;
    background-color: #0D1E3A;
    text-align: center;
    margin-top: 10px;
}







